# flyctl launch added from .gitignore
**/.env
**/.env.example
**/node_modules

# Python
**/__pycache__
**/*.pyc
**/venv
**/*.env
**/staticfiles
**/media
**/db.sqlite3

# Node
**/node_modules
**/dist
**/.env
**/.env.local

# VS Code
**/.vscode

# OS
**/.DS_Store
**/Thumbs.db

# flyctl launch added from backend/venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
backend/venv/**/*
fly.toml
